@model Category
@{
    ViewData["Title"] = "Yeni Kategori";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    <br />
    <button class="btn btn-dark"> <i class="fa fa-save"></i> K  aydet</button>

</form>