@model Testimonial
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Güncelle</h2>


<form method="post">

    <input type="hidden" asp-for="TestimonialId"/>

    <label>Ad Soyad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Yorum</label>
    <textarea type="text" asp-for="Comment" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Comment" class="text-danger"></span>

    <br />
    <button class="btn btn-primary">Kaydet <i class="ti ti-device-floppy"></i></button>

</form>