@model Banner
@{
    ViewData["Title"] = "Yeni Afiş";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Afiş</h2>


<form method="post">

    <input type="hidden" asp-for="BannerId"/>

    <label>Başlık*</label>
    <input type="text" asp-for="Title" class="form-control" required/>
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />

    <label>Açıklama*</label>
    <input type="text" asp-for="Description" class="form-control" required/>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />

    <label>Görsel Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control"/>
    <br />
    <button class="btn btn-primary">Güncelle <i class="ti ti-device-floppy"></i></button>

</form>


