
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
  <title>Admin Paneli | Waggy </title>
  <!-- [Meta] -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
  <meta name="keywords" content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
  <meta name="author" content="CodedThemes">

  <!-- [Favicon] icon -->
  <link rel="icon" href="~/AdminTheme/dist/assets/images/favicon.svg" type="image/x-icon"> <!-- [Google Font] Family -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="~/AdminTheme/dist/assets/fonts/tabler-icons.min.css" >
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="~/AdminTheme/dist/assets/fonts/feather.css" >
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="~/AdminTheme/dist/assets/fonts/fontawesome.css" >
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="~/AdminTheme/dist/assets/fonts/material.css" >
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="~/AdminTheme/dist/assets/css/style.css" id="main-style-link" >
<link rel="stylesheet" href="~/AdminTheme/dist/assets/css/style-preset.css" >

</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
  <!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->
 <!-- [ Sidebar Menu ] start -->
@await Html.PartialAsync("~/Views/AdminLayout/AdminLayoutSidebar.cshtml");
<!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
<!--Navbar Menu-->
@await Html.PartialAsync("~/Views/AdminLayout/AdminLayoutNavbar.cshtml");
<!-- [ Header ] end -->
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">@ViewData["Title"]</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="container">
        <!-- [ sample-page ] start -->
        @RenderBody()
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->
  <footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        <div class="col-sm my-1">
          <p class="m-0"
            >Mantis &#9829; crafted by Team <a href="https://themeforest.net/user/codedthemes" target="_blank">Codedthemes</a> Distributed by <a href="https://themewagon.com/">ThemeWagon</a>.</p
          >
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- [Page Specific JS] start -->
  <script src="~/AdminTheme/dist/assets/js/plugins/apexcharts.min.js"></script>
  <script src="~/AdminTheme/dist/assets/js/pages/dashboard-default.js"></script>
  <!-- [Page Specific JS] end -->
  <!-- Required Js -->
  <script src="~/AdminTheme/dist/assets/js/plugins/popper.min.js"></script>
  <script src="~/AdminTheme/dist/assets/js/plugins/simplebar.min.js"></script>
  <script src="~/AdminTheme/dist/assets/js/plugins/bootstrap.min.js"></script>
  <script src="~/AdminTheme/dist/assets/js/fonts/custom-font.js"></script>
  <script src="~/AdminTheme/dist/assets/js/pcoded.js"></script>
  <script src="~/AdminTheme/dist/assets/js/plugins/feather.min.js"></script>

  
  
  
  
  <script>layout_change('light');</script>
  
  
  
  
  <script>change_box_container('false');</script>
  
  
  
  <script>layout_rtl_change('false');</script>
  
  
  <script>preset_change("preset-1");</script>
  
  
  <script>font_change("Public-Sans");</script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

</body>
<!-- [Body] end -->

</html>