@model List<Message>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<h2>Mesajlar Listesi</h2>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Gönderen</th>
			<th scope="col">Konu</th>
			<th scope="col">Tarih</th>
			<th scope="col">Mesajı Aç</th>
			<th scope="col">İşlemler</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			count++;

			<tr>
				<td>@count</td>
				<td>@item.Name</td>
				<td>@item.Subject</td>
				<td><a href="/Message/MessageDetail/@item.MessageId" class="btn btn-warning">Mesajı Aç</a></td>
				@if (item.IsRead == true)
				{
					<td><a href="/Message/ChangeIsReadToFalse/@item.MessageId" class="btn btn-dark">Okunmadı Olarak İşaretle</a></td>
				}
				else
				{
					<td><a href="/Message/ChangeIsReadToTrue/@item.MessageId" class="btn btn-info">Okundu olarak İşaretle</a></td>
				}
				<td><a onclick="youSure(@item.MessageId)" class="text-white btn btn-danger">  Sil  <i class="ti ti-trash"></i> </a></td>
			</tr>
		}
	</tbody>
</table>
<script>
	function youSure(id){

	  Swal.fire({
	  title: "Emin misiniz?",
	  text: "Bu işlemi geri alamazsınız!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Evet, sil!",
	  cancelButtonText: "İptal!"
	}).then((result) => {
	  if (result.isConfirmed) {

		window.location.href="/Message/DeleteMessage/"+id;
	  }
	});
	}

</script>