@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

@await Component.InvokeAsync("DefaultBanner")

@await Component.InvokeAsync("DefaultCategories")



@await Component.InvokeAsync("DefaultProducts")

@await Component.InvokeAsync("DefaultTestimonial")

@await Component.InvokeAsync("DefaultBest")

@await Component.InvokeAsync("DefaultSendMessage")

<section id="latest-blog" class="my-5">
    <div class="container py-5 my-5">
        <div class="row mt-5">
            <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
                <h2 class="display-3 fw-normal">Son Blog Yazıları</h2>
                <div>
                    <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                        Tümünü Gör
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- 1. Blog Kartı -->
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">20</h3>
                    <p class="secondary-font fs-6 m-0">Şub</p>
                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/waggy-1.0.0/images/blog1.jpg" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Hayvanlara Yardımcı Olmak İçin 10 Neden</h3>
                        </a>
                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Uygulamalarımızın merkezinde şehirlerin en büyük başarılarımızın kaynağı
                                olduğuna ve sürdürülebilir bir gelecek için en iyi umut olduğuna inanırız.
                            </p>
                            <a href="single-post.html" class="blog-read">devamını oku</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2. Blog Kartı -->
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">21</h3>
                    <p class="secondary-font fs-6 m-0">Şub</p>
                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/waggy-1.0.0/images/blog2.jpg" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Evcil Hayvanınızın Aç Olduğunu Nasıl Anlarsınız?</h3>
                        </a>
                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Uygulamalarımızın merkezinde şehirlerin en büyük başarılarımızın kaynağı
                                olduğuna ve sürdürülebilir bir gelecek için en iyi umut olduğuna inanırız.
                            </p>
                            <a href="single-post.html" class="blog-read">devamını oku</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 3. Blog Kartı -->
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">22</h3>
                    <p class="secondary-font fs-6 m-0">Şub</p>
                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/waggy-1.0.0/images/blog3.jpg" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Evcil Hayvanlarınız İçin En İyi Ev</h3>
                        </a>
                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Uygulamalarımızın merkezinde şehirlerin en büyük başarılarımızın kaynağı
                                olduğuna ve sürdürülebilir bir gelecek için en iyi umut olduğuna inanırız.
                            </p>
                            <a href="single-post.html" class="blog-read">devamını oku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service">
    <div class="container py-5 my-5">
        <div class="row g-md-5 pt-4">
            <!-- 1. Kart -->
            <div class="col-md-3 my-3">
                <div class="card">
                    <div>
                        <iconify-icon class="service-icon text-primary" icon="la:shopping-cart"></iconify-icon>
                    </div>
                    <h3 class="card-title py-2 m-0">Ücretsiz Teslimat</h3>
                    <div class="card-text">
                        <p class="blog-paragraph fs-6">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                    </div>
                </div>
            </div>

            <!-- 2. Kart -->
            <div class="col-md-3 my-3">
                <div class="card">
                    <div>
                        <iconify-icon class="service-icon text-primary" icon="la:user-check"></iconify-icon>
                    </div>
                    <h3 class="card-title py-2 m-0">%100 Güvenli Ödeme</h3>
                    <div class="card-text">
                        <p class="blog-paragraph fs-6">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                    </div>
                </div>
            </div>

            <!-- 3. Kart -->
            <div class="col-md-3 my-3">
                <div class="card">
                    <div>
                        <iconify-icon class="service-icon text-primary" icon="la:tag"></iconify-icon>
                    </div>
                    <h3 class="card-title py-2 m-0">Günlük Kampanya</h3>
                    <div class="card-text">
                        <p class="blog-paragraph fs-6">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                    </div>
                </div>
            </div>

            <!-- 4. Kart -->
            <div class="col-md-3 my-3">
                <div class="card">
                    <div>
                        <iconify-icon class="service-icon text-primary" icon="la:award"></iconify-icon>
                    </div>
                    <h3 class="card-title py-2 m-0">Kalite Garantisi</h3>
                    <div class="card-text">
                        <p class="blog-paragraph fs-6">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="insta" class="my-5">
    <div class="row g-0 py-5">
        <div class="col instagram-item  text-center position-relative">
            <div class="icon-overlay d-flex justify-content-center position-absolute">
                <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
            </div>
            <a href="#">
                <img src="~/waggy-1.0.0/images/insta1.jpg" alt="insta-img" class="img-fluid rounded-3">
            </a>
        </div>
        <div class="col instagram-item  text-center position-relative">
            <div class="icon-overlay d-flex justify-content-center position-absolute">
                <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
            </div>
            <a href="#">
                <img src="~/waggy-1.0.0/images/insta2.jpg" alt="insta-img" class="img-fluid rounded-3">
            </a>
        </div>
        <div class="col instagram-item  text-center position-relative">
            <div class="icon-overlay d-flex justify-content-center position-absolute">
                <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
            </div>
            <a href="#">
                <img src="~/waggy-1.0.0/images/insta3.jpg" alt="insta-img" class="img-fluid rounded-3">
            </a>
        </div>
        <div class="col instagram-item  text-center position-relative">
            <div class="icon-overlay d-flex justify-content-center position-absolute">
                <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
            </div>
            <a href="#">
                <img src="~/waggy-1.0.0/images/insta4.jpg" alt="insta-img" class="img-fluid rounded-3">
            </a>
        </div>
        <div class="col instagram-item  text-center position-relative">
            <div class="icon-overlay d-flex justify-content-center position-absolute">
                <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
            </div>
            <a href="#">
                <img src="~/waggy-1.0.0/images/insta5.jpg" alt="insta-img" class="img-fluid rounded-3">
            </a>
        </div>
        <div class="col instagram-item  text-center position-relative">
            <div class="icon-overlay d-flex justify-content-center position-absolute">
                <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
            </div>
            <a href="#">
                <img src="~/waggy-1.0.0/images/insta6.jpg" alt="insta-img" class="img-fluid rounded-3">
            </a>
        </div>
    </div>
</section>

<footer id="footer" class="my-5">
    <div class="container py-5 my-5">
        <div class="row">

            <!-- Logo ve Sosyal Medya -->
            <div class="col-md-3">
                <div class="footer-menu">
                    <img src="~/waggy-1.0.0/images/logo.png" alt="logo">
                    <p class="blog-paragraph fs-6 mt-3">
                        Büyük fırsatlarımız hakkında güncellemeler almak için bültenimize abone olun.
                    </p>
                    <div class="social-links">
                        <ul class="d-flex list-unstyled gap-2">
                            <li class="social"><a href="#"><iconify-icon class="social-icon" icon="ri:facebook-fill"></iconify-icon></a></li>
                            <li class="social"><a href="#"><iconify-icon class="social-icon" icon="ri:twitter-fill"></iconify-icon></a></li>
                            <li class="social"><a href="#"><iconify-icon class="social-icon" icon="ri:pinterest-fill"></iconify-icon></a></li>
                            <li class="social"><a href="#"><iconify-icon class="social-icon" icon="ri:instagram-fill"></iconify-icon></a></li>
                            <li class="social"><a href="#"><iconify-icon class="social-icon" icon="ri:youtube-fill"></iconify-icon></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Hızlı Linkler -->
            <div class="col-md-3">
                <div class="footer-menu">
                    <h3>Hızlı Erişim</h3>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item"><a href="#" class="nav-link">Anasayfa</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">Hakkımızda</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">Kampanyalar</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">Hizmetler</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">İletişim</a></li>
                    </ul>
                </div>
            </div>

            <!-- Yardım Merkezi -->
            <div class="col-md-3">
                <div class="footer-menu">
                    <h3>Yardım Merkezi</h3>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item"><a href="#" class="nav-link">Sıkça Sorulan Sorular</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">Ödeme</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">İade & Geri Ödeme</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">Ödeme Sayfası</a></li>
                        <li class="menu-item"><a href="#" class="nav-link">Teslimat Bilgileri</a></li>
                    </ul>
                </div>
            </div>

            <!-- Bülten -->
            <div class="col-md-3">
                <div>
                    <h3>Bültenimize Katıl</h3>
                    <p class="blog-paragraph fs-6">
                        Büyük fırsatlarımız hakkında güncellemeler almak için bültenimize abone olun.
                    </p>
                    <div class="search-bar border rounded-pill border-dark-subtle px-2">
                        <form class="text-center d-flex align-items-center" action="" method="">
                            <input type="text" class="form-control border-0 bg-transparent" placeholder="E-posta adresinizi girin" />
                            <iconify-icon class="send-icon" icon="tabler:location-filled"></iconify-icon>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

