<style>
    .circle {
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.6); /* %60 opaklık */
        border-radius: 50%;
        position: absolute;
        left: 20px; /* sola kaydırma */
        top: 50px;
    }
</style>
<header class="pc-header">
    <div class="header-wrapper">
        <!-- [Mobile Media Block] start -->
        <div class="me-auto pc-mob-drp">
            <ul class="list-unstyled">
                <!-- ======= Menu collapse Icon ===== -->
                <li class="pc-h-item pc-sidebar-collapse">
                    <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
                <li class="pc-h-item pc-sidebar-popup">
                    <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
                <li class="dropdown pc-h-item d-inline-flex d-md-none">
                    <a class="pc-head-link dropdown-toggle arrow-none m-0"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-haspopup="false"
                       aria-expanded="false">
                        <i class="ti ti-search"></i>
                    </a>
                    <div class="dropdown-menu pc-h-dropdown drp-search">
                        <form class="px-3">
                            <div class="form-group mb-0 d-flex align-items-center">
                                <i data-feather="search"></i>
                                <input type="search" class="form-control border-0 shadow-none" placeholder="Ara. . .">
                            </div>
                        </form>
                    </div>
                </li>
                <li class="pc-h-item d-none d-md-inline-flex">
                    <form class="header-search">
                        <i data-feather="search" class="icon-search"></i>
                        <input type="search" class="form-control" placeholder="Ara. . .">
                    </form>
                </li>
            </ul>
        </div>
        <!-- [Mobile Media Block end] -->
        <div class="ms-auto">
            <ul class="list-unstyled">
                <li class="dropdown pc-h-item">
                    <a class="pc-head-link dropdown-toggle arrow-none me-0 position-relative"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-haspopup="false"
                       aria-expanded="false">
                        <i class="ti ti-mail position-relative">
                            @if (ViewBag.UnreadCount > 0)
                            {
                                <span class="position-absolute top-0 start-100 badge rounded-pill bg-success"
                                      style="font-size: 0.5rem; min-width: 14px; height: 14px; padding: 0; display: flex; align-items: center; justify-content: center; transform: translate(-50%, -10%);">
                                    @ViewBag.UnreadCount
                                </span>
                            }
                        </i>



                       
                    </a>
                    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
                        <div class="dropdown-header d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <h5 class="m-0 me-2">Message</h5>
                                @if (ViewBag.UnreadCount > 0)
                                {
                                    <span class="badge bg-success rounded-pill">@ViewBag.UnreadCount</span>
                                }
                            </div>
                            <a href="#!" class="pc-head-link bg-transparent">
                                <i class="ti ti-x text-danger"></i>
                            </a>
                        </div>

                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
                            <div class="list-group list-group-flush w-100">
                              
                                @await Component.InvokeAsync("_MessagesDropdownComponentPartial")

                                
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="text-center py-2">
                            <a href="#!" class="link-primary">View all</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown pc-h-item header-user-profile">
                    <a class="pc-head-link dropdown-toggle arrow-none me-0"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-haspopup="false"
                       data-bs-auto-close="outside"
                       aria-expanded="false">
                        <img src="~/AdminTheme/dist/assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                        <span>@ViewBag.fullName</span>
                    </a>
                    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                        <div class="dropdown-header">
                            <div class="d-flex mb-1">
                                <div class="flex-shrink-0">
                                    <img src="~/AdminTheme/dist/assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar wid-35">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h6 class="mb-1">@ViewBag.userName</h6>
                                    <span>Admin</span>
                                </div>
                                <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-power text-danger"></i></a>
                            </div>
                        </div>
                        <ul class="nav drp-tabs nav-fill nav-tabs" id="mydrpTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                        id="drp-t1"
                                        data-bs-toggle="tab"
                                        data-bs-target="#drp-tab-1"
                                        type="button"
                                        role="tab"
                                        aria-controls="drp-tab-1"
                                        aria-selected="true">
                                    <i class="ti ti-user"></i> Profile
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="drp-t2"
                                        data-bs-toggle="tab"
                                        data-bs-target="#drp-tab-2"
                                        type="button"
                                        role="tab"
                                        aria-controls="drp-tab-2"
                                        aria-selected="false">
                                    <i class="ti ti-settings"></i> Ayarlar
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="mysrpTabContent">
                            <div class="tab-pane fade show active" id="drp-tab-1" role="tabpanel" aria-labelledby="drp-t1" tabindex="0">
                                <a href="#!" class="dropdown-item">
                                    <i class="ti ti-edit-circle"></i>
                                    <span>Profili Düzenle</span>
                                </a>                             
                                <a href="/Login/Logout" class="dropdown-item">
                                    <i class="ti ti-power"></i>
                                    <span>Çıkış Yap</span>
                                </a>
                            </div>
                           
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>